{% extends 'base.html.twig' %}

{% block title %}Hello FilmController!{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
    {% for film in films %}
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="https://picsum.photos/200" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ film.name }}</h5>
                    <p class="card-text">Catégorie : {{ film.categorie.name }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    {% for acteur in film.acteur %}
                    <li class="list-group-item">{{ acteur.surname }} {{ acteur.name }}</li>
                    {% endfor %}
                </ul>
                <div class="card-body">
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
