{% extends 'base.html.twig' %}

{% block title %}Hello CategorieController!{% endblock %}

{% block body %}
<div class="container">
    <h2>Listes des catégories de film présentes sur le site</h2>
    <ul class="list-group">
        {% for categorie in categories %}
            <li class="list-group-item" aria-current="true"><a href="{{ path('single_categorie', {'id': categorie.id}) }}">{{ categorie.name }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
