{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <h2>Catégorie : {{ categorie.name }}</h2>
        <ul class="list-group">
        {% for film in categorie.films %}
            <li class="list-group-item" aria-current="true"><a href="{{ path('single_film', {'id': film.id}) }}">{{ film.name }}</a></li>
        {% endfor %}
        </ul>
        <a href="{{ path('categories') }}" class="btn btn-primary">Retour à la liste de catégorie</a>
    </div>
{% endblock %}